# Logs
logs
*.log
npm-debug.log*

# Diretórios do Sistema
.DS_Store
Thumbs.db

# Node.js
node_modules/
package-lock.json

# Compilados do TypeScript
dist/
*.tsbuildinfo

# Build do React
build/

# Editor de Código
.vscode/
